{% extends 'base.html.twig' %}

{% block title %}Ads{% endblock %}

{% block body %}
    <h1>Ads</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ ad.date ? ad.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ads_index') }}">back to list</a>

    <a href="{{ path('ads_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ads/_delete_form.html.twig') }}
{% endblock %}