<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset ('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row justify-content-end mt-3">
                    {% if app.user %}
                        <a href="{{ path('ads_index') }}" class="btn btn-outline-success btn-sm mr-1">Your Ads</a>
                        <a href="{{ path('ads_new') }}" class="btn btn-outline-warning btn-sm mr-1">Create New Ad</a>
                        <a href="{{ path('logout') }}" class="btn btn-outline-primary btn-sm">Logout</a>
                    {% else %}
                        <a href="{{ path('register') }}" class="btn btn-outline-success btn-sm mr-1">New User Registration</a>
                        <a href="{{ path('login') }}" class="btn btn-outline-primary btn-sm">Login</a>

                    {% endif %}
                </div>
            {% block body %}{% endblock %}
            </div>
        </div>
    </div>
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
